%h1 dodaj zakład
= form_for(@bet) do |f|
  = f.label :druzyna1
  = f.integer :team1_score
  = f.label :druzyna2
  = f.integer :team2_score
  = f.hidden_field :group_id, value: params[:group_id]
  = f.hidden_field :match_id, value: params[:match_id]
  = f.submit "dodaj"