.container
  -groupset=Groupset.find(@id)
  Points scored in this group:
  =groupset.points_in_group

.container
  .w50.center-block
    %h1 Nazwa grupy: 
    =@group.name 
    id: 
    =@id
-if @group.owner == current_user.id
  .container
    .w50.center-block
      %h4 Zaproś znajomych:
      = form_for @invite do |f|
        = f.hidden_field :group_id, :value => @id
        = f.email_field :email, :value => @invite.email, placeholder: "E-mail"
        %br
        %input.btn.btn-primary.btn-small{type: "submit", value: "Wyślij"}/

%center
  %h1 Dostępne mecze:
.well
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th team 1
        %th team 2
        %th score 1
        %th score 2
        %th deadline
    - @matches.each do |match|
      - x = Bet.where(group_id:  @id, match_id:  match.id, user_id:  current_user.id)
      - if x.blank?

        %thead
          %tr
            %th
            %th #{match.team_name_1}
            %th #{match.team_name_2}
            %th #{match.team_score_1}
            %th #{match.team_score_2}
            %th #{match.deadline}
            %th 
              =link_to "Obstaw",  :controller => 'bets', :action => "new", :match_id => match.id, :group_id => @id

%center
  %h1 Mecze obstawione:
.well
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th team 1
        %th team 2
        %th score 1
        %th score 2
        %th deadline
        %th your bet
        %th points
    - @bets.each do |bet|    
      %thead
        %tr
          %th
          %th #{bet.match.team_name_1}
          %th #{bet.match.team_name_2}
          %th #{bet.match.team_score_1}
          %th #{bet.match.team_score_2}
          %th #{bet.match.deadline}
          %th #{bet.team_score1} : #{bet.team_score2}
          %th #{bet.points}
