%a.second{href: "#modal"}
  %button.btn.btn-info{type: "button"} Rank !
#modal{style: "display:none"}
  %h2 Rank
  %table.table.table-striped
    %thead
      %tr
        %th 
        %th Nickname
        %th Score
    - @groupsets.each do |groupmem|
      %thead
        %tr
          %th
          %th
            -if groupmem.user.name == nil
              =groupmem.user.nickname
            -else
              =groupmem.user.name
          %th 
            =groupmem.points_in_group
  %a{href: "javascript:$.pageslide.close()"} Close
:javascript
  $(".second").pageslide({ direction: "right", modal: true });


%h1 Group name: #{@group.name }
/ %h3 Members:
/ .well
/   %table.table.table-striped
/     %thread
/       %tr
/         %th Username
/         %th E-mail
/         %th Points
/     -@groupsets.each do |groupset|
/       -@user_name = User.find_by_id(groupset.user_id).nickname
/       -@user_email = User.find_by_id(groupset.user_id).email
/       -@user_points = groupset.points_in_group
/       %thread
/         %tr
/           %th #{@user_name}
/           %th #{@user_email}
/           %th #{@user_points}

    
-if @group.owner == current_user.id
  .container
    .w50.center-block
      %h4 Invite friends:
      = form_for @invite do |f|
        = f.hidden_field :group_id, :value => @id
        = f.email_field  :email, :value => @invite.email, placeholder: "E-mail"
        %br
        %input.btn.btn-primary.btn-small{type: "submit", value: "Send"}/

%center
  %h1 Available matches:

.well
  %table.table.table-striped.transparent
    %thead
      %tr
        %th #
        %th team 1
        %th team 2
        %th score 1
        %th score 2
        %th deadline
    -if @matchsets.count > 0

      - @matchsets.each do |matchset|
        - @match = Match.find(matchset.match_id)
        - x = Bet.where(group_id:  @id, match_id:  @match.id, user_id:  current_user.id)
        - if x.blank?
          %thead
            %tr
              %th
              %th #{@match.team_name_1}
              %th #{@match.team_name_2}
              %th #{@match.team_score_1}
              %th #{@match.team_score_2}
              %th #{@match.deadline}
              %th 
                =link_to "Bet!",  :controller => 'bets', :action => "new", :match_id => @match.id, :group_id => @id

-if @matches.count > 0
  -find_matches = Matchset.where(group_id: @id)
  -unless find_matches.count == @matches.count
    .dropdown
      %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Add match
        %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        - @matches.each do |match|
          %li{role: "presentation"}
            -find = Matchset.where(group_id: @id, match_id: match.id)
            -if find.blank?
              -if Time.now < match.deadline
                %a{href: group_add_path(:match_id => match.id, :group_id => @group.id), role: "menuitem", tabindex: "-1"}#{match.team_name_1 + " vs " + match.team_name_2}
  -else
    .dropdown
      %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Add match
        %span.caret
      %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
        %li{role: "presentation"}
          No matches available

%center
  %h1 Your bets:
.well
  %table.table.table-striped
    %thead
      %tr
        %th #
        %th team 1
        %th team 2
        %th score 1
        %th score 2
        %th deadline
        %th your bet
        %th points
    - @bets.each do |bet|    
      %thead
        %tr
          %th
          %th #{bet.match.team_name_1}
          %th #{bet.match.team_name_2}
          %th #{bet.match.team_score_1}
          %th #{bet.match.team_score_2}
          %th #{bet.match.deadline}
          %th #{bet.team_score1} : #{bet.team_score2}
          %th #{bet.points}
