%center
  %h1 Matches list:
.well
  %table.table.table-striped
    %thead
      %tr
        %th
        %th 
        %th team 1
        %th team 2
        %th score 1
        %th score 2
        %th deadline
        %th= link_to 'evaluate all', evaluate_all_matches_path, method: :post
        %th
    - @matches.each do |match|    
      %thead
        %tr
          = form_for(match, html: {class: "form-signin"}) do |f|
            %th= link_to 'evaluate', evaluate_for_match_path(id: match.id), method: :post
            %th 
            %th #{match.team_name_1}
            %th #{match.team_name_2}
            %th
              =f.text_field :team_score_1, value: match.team_score_1, class: "form-control"
            %th
              =f.text_field :team_score_2, value: match.team_score_2, class: "form-control"
            %th #{match.deadline}
            %th
              =f.submit "Save!", class: "btn, btn-primary"

			