	
= form_for(@match, html: {class: "form-signin"}) do |m|
  %h2.form-signin-heading Add match
  = m.label 'Team 1:'
  = m.text_field :team_name_1, class: "form-control"
  %br
  = m.label 'Team 2:'
  = m.text_field :team_name_2, class: "form-control"
  %br
  = m.label 'Date:'
  = m.text_field :deadline, class: "form-control", "data-format" => "dd-MM-yyyy hh:mm:ss", :id => "datetimepicker"
 

  %button.btn.btn-primary.btn-lg{type: "submit"} Add!
  %a.btn.btn-primary.btn-lg{role: "button", href: matches_path} Cancel

:javascript
  $(function() {
    $('#datetimepicker').datetimepicker({
      language: 'pt-BR'
    });
  });
