!!!
%body
.container
  = image_tag 'logo1.png'
  %html
    %head
      %title MatchBets
      = stylesheet_link_tag    'application', media: 'all'
      = javascript_include_tag 'application'
      = csrf_meta_tags
      %link{href: "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css", rel: "stylesheet"}
      %link{href: "http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %body
      / Navbar
      %nav.navbar.ournavbar.navbar-default{role: "navigation"}
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            =link_to 'MatchBets', root_url, class: "navbar-brand"

            %ul.nav.navbar-nav
              - if current_user
                %li.dropdown
                  / Tutaj chcialbym aby sie rozwijała lista grup
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                    My groups
                    %span.caret
                  %ul.dropdown-menu{role: "menu"}
                    %li.nav-divider
                    %li= link_to "Create group", new_group_path
                    %li.nav-divider
                    / Tutaj foreach wyswietlajacy grupy
                    - current_user.groups.each do |group|
                      %li= link_to group.name, group_path(group.id)
                    / Koniec foreacha
              - if current_user
                - if current_user.admin
                  %li.dropdown
                    / Tutaj chcialbym aby sie rozwijała lista grup
                    %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                      Administrator panel
                      %span.caret
                    %ul.dropdown-menu{role: "menu"}
                      / Tutaj foreach wyswietlajacy grupy
                      %li.nav-divider
                      %li= link_to 'List of matches', matches_path
                      %li.nav-divider
                      %li= link_to 'Add match', new_match_path
                      %li.nav-divider
                      / Koniec foreacha
              %li
                %a{href: about_index_path} About 
            %ul.nav.navbar-nav.navbar-right
              - if current_user
                - if current_user.provider == "facebook"
                  %li
                    = link_to current_user.name, user_path(current_user.id)
                - else
                  %li
                    = link_to current_user.nickname, user_path(current_user.id)
                %li
                  = link_to 'Sign out', destroy_user_session_path, method: :delete
              - else
                %li
                  = link_to 'Sign in', new_user_session_path
                %li
                  = link_to 'Sign up ', new_user_registration_path
          / /.navbar-collapse
        / /.container-fluid
      / /.Navbar
      %div
        - if alert
          %p.alert.alert-warning
            ALERT!: #{alert}
        - elsif notice
          %p.alert.alert-success
            notice: #{notice}
      = yield
    %link{href: "/jquery.datetimepicker.css", rel: "stylesheet", type: "text/css"}
    %script{src: "/jquery.js"}
    %script{src: "/jquery.datetimepicker.js"}
