!!!
%body
.container
  = image_tag 'logo1.png'
  %html
    %head
      %title MatchBets
      = include_gon
      = stylesheet_link_tag    'application', media: 'all'
      = javascript_include_tag 'application'
      = csrf_meta_tags
      %link{href: "http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css", rel: "stylesheet"}
      %link{href: "http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css", media: "screen", rel: "stylesheet", type: "text/css"}
    %body
      / Navbar
      =render "layouts/navbarpanel"
      %div
        - if alert
          %p.alert.alert-warning
            ALERT!: #{alert}
        - elsif notice
          %p.alert.alert-success
            notice: #{notice}
      = yield
      = render "layouts/footer"

    %link{href: "/jquery.datetimepicker.css", rel: "stylesheet", type: "text/css"}
    %script{src: "/jquery.js"}
    %script{src: "/jquery.datetimepicker.js"}
